{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h2>TExto de cabecera en h2</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur corrupti excepturi illum amet autem dignissimos. Sit, non eaque? Sunt eaque excepturi reiciendis consectetur accusantium quae a possimus voluptate fuga voluptates.
        </p>
    </div>

    <div>
        <img src="assets/img/foto.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}